@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body
{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

a
{
    text-decoration: none;
}

#container
{
    height: 822px;
    width: 650px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-weight: 300;
}

#content
{
    height: 822px;
    width: 650px;
    margin: auto;
    background-color: #dedddd;
}

#top
{
	padding: 32px 0px 0px 32px;
	color: #778487;
	font-size: 27px;
    letter-spacing: 2px;
}

#main
{
	margin: auto;
	height: 598px;
    width: 598px;
    padding-top: 22px;
	
}

#france
{
	position: relative;
	bottom: 503px;
    left: 80px;
    height: 386px;
    width: 413px;
}

#champagne
{
	position: relative;
	bottom: 295px;
    left: 256px;
}

#alsace
{
	position: relative;
	bottom: 303px;
    left: 344px;
}

#loire
{
	position: relative;
	bottom: 287px;
    left: 104px;
}

#bourgogne
{
	position: relative;
	bottom: 297px;
    left: 253px;
}

#jura
{
	position: relative;
	bottom: 320px;
    left: 307px;
}

#auvergne
{
	position: relative;
	bottom: 277px;
    left: 225px;
}

#savoie
{
	position: relative;
    bottom: 295px;
    left: 314px;
}

#bordeaux
{
	position: relative;
    bottom: 270px;
    left: 122px;
}

#languedoc
{
	position: relative;
	bottom: 223px;
    left: 206px;
}

#provence-a-c
{
	position: relative;
	bottom: 287px;
    left: 320px;
}

#corse
{
	position: relative;
	bottom: 266px;
    left: 390px;
}

#beaujolais
{
	position: relative;
    bottom: 414px;
    left: 274px;
}

#vdr
{
	position: relative;
    bottom: 390px;
    left: 280px;
}

#bot
{
	height: 120px;
}

#trait
{
	position: relative;
	bottom: 40px;
    left: 150px;
}

#cercle
{
	position: relative;
	top: 15px;
    left: 60px;
}

#initiale1
{
	position: relative;
	bottom: 58px;
    left: 133px;
    font-size: 25px;
    font-weight: 400;
}

#initiale2
{
	position: relative;
	bottom: 58px;
    left: 125px;
    font-size: 25px;
    font-weight: 400;
}

#liste
{
	float: right;
	height: 70px;
	width: 230px;
	float: right;
    margin-top: -137px;
    margin-right: 240px;
}

#liste ul
{
	padding: 0px;
	height: 51px;
	width: 115px;
	float: left;
}

#liste ul li
{
	height: 17px;
    width: 115px;
    float: left;
    list-style-type: none;
    font-size: 12px;
    color: #9ca9ac;
    font-weight: 400;
}

#region
{
	position: relative;
	bottom: 65px;
    left: 111px;
	font-size: 16px;
    font-weight: 400;
}